<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#if bids}}
    {{#each bids}}
    <h1><a href="/user/{{this.userId._id}}">{{this.bidder}}</a> <a href="/bid/accept/{{this._id}}"> accept bid</a></h1>
    <h2>In {{this.noOfDays}} days</h2>
    <h2>{{this.amount}}$</h2>
    <h3>{{this.proposal}}</h3><br>
    {{/each}}
    {{else}}
    <br>
     <h1>There is no data uploaded</h1>
     {{/if}}
</body>
</html>